	<p>
		<h2 class="help"><img src="/images/icons/lightbulb.png" class="icon"/><strong>Ajuda</strong></h2>
	</p>	
	<p>
		Crie novos idiomas para controlar várias versões do site noutras línguas. Os conteúdos serão independentes.
	</p>