<p>
<h2 class="help"><img src="/images/icons/lightbulb.png" class="icon"/>Ajuda</h2>
</p>	

<p>As páginas compõem o site, cada página tem campos adicionais para colocar informação SEO.<br/>
O corpo da página pode ser editado usando html. <br/>
Ainda não é possível ordenar as páginas.
</p>