<% content_for :header do -%>
	<%= configatron.site_name %> Páginas
<% end -%>

<% content_for :sidebar do -%>
	<p class="cssbutton">
		<%= link_to '<span>Nova Página</span>', new_admin_page_path %>
	</p>
<% end -%>

<table class="index" id="pagestree">
  <tr id="node-0">
	<th>Nome</th>
	<th>Estado</th>
	<th>Data Criação</th>
	<th>Idioma</th>
  </tr>
  <% for page in @pages %>
	<%= draw_table_for_childs_of page %>
  <% end %>
</table>
 

<script type="text/javascript">
	$(document).ready(function()  {
  		$("#pagestree").treeTable();
	});
</script>
