 
	<p><label for="name">Nome</label> 
	<%= f.text_field :name %></p>


	<ol class="on_off_lang">
	   <li>
	     <p><label class="left" for="language">Idioma</label>
	     <%= f.check_box(:language, LANGUAGES,'pt','en' ) %>
		 </p>
	   </li>
	</ol> 
	<ol class="on_off_state">
	   <li>
	     <p><label class="left" for="state">Estado</label>
	     <%= f.check_box(:state, STATES,'active','draft' ) %>
		 </p>
	   </li>
	</ol> 


	<script type="text/javascript" charset="utf-8">
	 $(document).ready(function() {
	 	$('.on_off_lang :checkbox').iphoneStyle({ checkedLabel: 'pt', uncheckedLabel: 'en' });
		$('.on_off_state :checkbox').iphoneStyle({ checkedLabel: 'Activo', uncheckedLabel: 'Draft' });
	 });
	</script> 