<% content_for :header do -%>
	<%= configatron.site_name %>
<% end -%>

<% content_for :sidebar do -%>
	<h2>Sidebar</h2>
	<p>
		<%=t :hello %>
		<%=t 'dashboard.sidebar' %>
	</p>
<% end -%>

<p>
	<%=t 'dashboard.hello' %>
</p>

