<h3>Perfil</h3>

<p><%= link_to "Actualizar o meu perfil", edit_profile_url(current_user) %></p>

<table class="overview">
	<% @profile.public_attributes.each do |column| -%>
		<%= cell "#{column.humanize}", "#{@profile.send(column) || '-'}" %>
	<% end -%>
</table>