	<p>
	<h2 class="help"><img src="/images/icons/lightbulb.png" class="icon"/><strong>Ajuda</strong></h2>
	</p>	

	<p>
	Utilize as notícias para comunicar novidades, eventos, actualizações do site e outras informações aos utilizadores. <br/>
	O corpo da notícia poderá ser editado utilizando html. Coloque um resumo no campo lead.
	</p>