<h2>Gerir utilizadores</h2>

<ul>
	<li><%= link_to "Gerir contas dos utilizadores", admin_users_url %></li>
</ul>

<h2>Definições</h2>

<ul>
	<li><%= link_to "Gerir definições de #{configatron.site_name}", admin_settings_url %></li>
</ul>