	<p>
	<h2 class="help"><img src="/images/icons/lightbulb.png" class="icon"/>Ajuda</h2>
	</p>	

	<p>
	Guarde pedaços de texto ou outras informações que precise em Conteúdos e depois referencie no frontend onde precisar. 
	</p>