<% content_for :header do -%>
	Amnesia
<% end -%>

<p>
	Indicou que não se lembra de nenhum dado da sua conta de <%= configatron.site_name %>.
</p>

<p>
Não podemos ajudar directamente a recuperar os dados da conta. Por favor entre em contacto com <%= configatron.support_name %> em <%= secure_mail_to configatron.support_email %> para mais ajuda.
</p>

<p>
	Se não tinha dados importantes na conta, também pode considerar <%= link_to "criar uma nova conta", signup_url %>.
</p>