<% content_for :header do -%>
	<%= t('login.clueless_title')%>
<% end -%>

<%= t( 'login.clueless_text', :website=>configatron.site_name, :contact=> configatron.support_name, :email=> secure_mail_to(configatron.support_email), :create_url=> link_to( t('login.clueless_create'), signup_url) )%>


<p><%= link_to "#{t('go_back')}", login_url %></p>