<% content_for :header do -%>
	Recuperar Password
<% end -%>

<% unless @user.nil? || !@user.active? %>
	<p>
		Recuperou com sucesso a sua password. Receberá um e-mail com a password nova muito em breve.
	</p>
	
	<p>
		<strong>Note: Após o login, por favor altere a password para uma mais segura e fácil de lembrar.</strong>
	</p>
	
	<div id="submitbutton">
		<p><%= link_to "Login agora &raquo;", login_url %></p>
	</div>
<% else %>
	<p>
		Lamentamos, não conseguimos reiniciar a sua password.
	</p>
	
	<p>
		Para obter uma nova password contacte <%= configatron.support_name %> através do e-mail <%= secure_mail_to configatron.support_email %>.
	</p>
<% end %>