

<% file_name.capitalize.camelize.constantize.columns.reject do |attribute| -%>
  <p>
    <%%= f.label :<%= attribute.name.to_s %> %> 
    <%%= f.<%= attribute.field_type %> :<%= attribute.name.to_s %> %>
  </p>
<%- end -%>
 

<%%= render :partial=> "/admin/shared/seo_fields", :locals=>{:f=>f} %>

