<% content_for :header do -%>
	<%= @news.name %>
<% end -%>
 
<% content_for :sidebar do -%>
	<%= render :partial=> "/news/recent" %>
<% end -%>

<p><%= @news.body %></p>

<%= link_to t("go_back"), news_all_path %>