<% content_for :header do -%>
	<%= @page.name %>
<% end -%>

<% content_for :sidebar do -%>
 
	<%= render(:partial => 'page', :layout => 'side', :collection=>@page.children) unless @page.children.empty?%>

	 
	<p>
		<%=t 'dashboard.sidebar' %>
	</p>
<% end -%>

<p><%= @page.body %></p>
