<% render :layout => "/admin/shared/tabbed_form", :locals=>{:tabs=>['Geral']} do %>
<div>
	<p>
    	<%= f.label :name -%> 
    	<%= f.text_field :name -%>
	</p> 
	<p> 
    	<%= f.label :controller -%> 
    	<%= f.text_field :controller -%>
	</p>
</div> 
<%end%>