<p>
	<h2 class="help"><img src="/images/icons/lightbulb.png" class="icon"/>Ajuda</h2>
</p>	

<p>Aqui podemos criar um tema e associar um controller para gerir certos conteúdos. ex: /news para gerir notícias.</p>
