<% content_for :header do -%>
	Definições do site
<% end -%>

<% content_for :sidebar do -%>
	<p>
		Estas são as definições do site.
	</p>
<% end -%>

<% form_tag :action => 'update' do %>

<h3>Geral</h3>

<p>Não existem definições para alterar.</p>
		
<%#= settings_field(Setting.load(:identifier)) %>

<!-- uncomment this if you make settings available.
<div id="submitbutton">
	<p><%= submit_tag 'Guardar' %></p>
</div> -->

<% end %>
