<a href="#seo_options" id="show_seo_fields">Ver mais opções SEO</a>
<div id="seo_options" style="display:none;">
	<p><label for="permalink">Permalink (é gerado automaticamente se não existir)</label><br/>
	<%= f.text_field :permalink %></p>

	<p><label for="permalink">Palavras-Chave (separar cada palavra por vírgula)</label><br/>
	<%= f.text_field :meta_keywords %></p>

	<p><label for="permalink">Descrição (não colocar html)</label><br/>
	<%= f.text_field :meta_description %></p>
</div>

<script type="text/javascript">
	$(window).bind('load', function() {
     	$('#show_seo_fields').click(function() {
       		$('#seo_options').toggle();
     	});
	});
</script>